<div class="device-container mobile-apps-portfolio__device-container">
	<div class="device-mockup iphone6_plus portrait white">
		<div class="device">

			<!--screen-->
			<div class="screen">
				<div id="scrollspy-target" class="list-group">
					{% for app in site.mobile-apps %}

						<a class="list-group-item list-group-item-action"
						   href="#mobile-app-description-{{ forloop.index }}">

							<!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
							<img src="{{ app.photo }}" class="img-fluid" alt="">
						</a>

					{% endfor %}
				</div>
			</div>

			<!--button-->
			<div class="button">
				<!-- You can hook the "home button" to some JavaScript events or just remove it -->
			</div>

		</div>
	</div>
</div>