header.masthead.masthead--crown-and-lantern {

  background-image: url('/img/banners/flowers.jpeg');
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  background-size: cover;

}
