<div class="parallax">

	<!--city skyline-->
	<div class="parallax__layer parallax__layer--city-skyline">
		<div class="parallax__layer__img-container">
			<img src="/img/parallax/2-city-skyline.png"/>
		</div>
	</div>

	<!--plants-->
	<div class="parallax__layer parallax__layer--plants">
		<div class="parallax__layer__img-container">
			<img src="/img/parallax/3-plants.png"/>
		</div>
	</div>

	<!--fountain-->
	<div class="parallax__layer parallax__layer--fountain">
		<div class="parallax__layer__img-container">
			<img src="/img/parallax/4-fountain.png"/>
		</div>
	</div>

	<!--crown and lantern-->
	<div class="parallax__layer parallax__layer--crown-and-lantern">
		<div class="parallax__layer__img-container">
			<img src="/img/parallax/5-crown-and-lantern.png"/>
		</div>
	</div>

	<!--palm trees-->
	<div class="parallax__layer parallax__layer--palm-trees">
		<div class="parallax__layer__img-container">
			<img src="/img/parallax/6-palm-trees.png"/>
		</div>
	</div>

	<!--lillies-->
	<div class="parallax__layer parallax__layer--lillies">
		<div class="parallax__layer__img-container">
			<img src="/img/parallax/7-lillies.png"/>
		</div>
	</div>

	<!--cover-->
	<div class="parallax__cover"></div>
</div>