---
layout: default
---

<section class="mobile-apps-intro">
	<div class="container">

		<!--heading-->
		<div class="section-heading text-center mx-5">
			<h1>Apps, Apps, Apps</h1>
			<p class="text-muted">Everyone's already on their phone, why fight them?</p>
			<hr>
			<p>{{ content }}</p>
		</div>

	</div>
</section>

<!--app portfolio-->
<section class="features mobile-apps-portfolio">
	<div class="container h-100">

		<div class="row h-100">

			<!--phone image-->
			<div class="col-6">
				<div class="sticky-top d-flex flex-column">

					<div class="my-5"></div>

					<div>
						{% include mobile-apps/phone-image.html %}
					</div>

				</div>
			</div>

			<!--app descriptions-->
			<div class="col-6 h-100"
			     data-spy="scroll"
			     data-target="#scrollspy-target"
			     data-offset="200">

				{% for app in site.mobile-apps %}
					{% include mobile-apps/app-description.html %}
				{% endfor %}
			</div>
		</div>

	</div>
</section>