---
layout: default
---

<section class="features" id="features">
	<div class="container">

		<!--heading-->
		<div class="section-heading text-center">
			<h1>Apps, Apps, Apps</h1>
			<p class="text-muted">Everyone's already on their phone, why fight them?</p>
			<hr>
			<p>{{ content }}</p>
		</div>

		<!--app portfolio-->
		{% for app in site.mobile-apps %}

			<div class="row mobile-app__item">
				{% include mobile-apps/phone-image.html %}
				{% include mobile-apps/app-description.html %}
			</div>
		{% endfor %}

	</div>
</section>